<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVInitialRouteSharingPolicy</key>
	<string>LongFormVideo</string>
	<key>BuildMachineOSBuild</key>
	<string>24F74</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>哔哩哔哩</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Audio</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audio</string>
				<string>tv.danmaku.bilianime.flac</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>bili-universal</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>tv.danmaku.bilianime</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>哔哩哔哩</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>8.76.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tv.danmaku.bilianime</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bilibili</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb660369000</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxcb8d4298c6a09bcb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent100951776</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ060466E0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aacbaaafec</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>unionpay.bilibili</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bilibili.oauth.v2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bilibili.oauth.v3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bilibili.oauth</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bilibili.following</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tv.danmaku.bilianime</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>biliWidget</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bilibili.alipay</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bilibili.qqwallet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1158523682358502</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cloudpay.bilibili.universal.2233</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.421683425039-5uqkrh3d5mi74mqp50viiprv0u7b3s8v</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>cyberidentity</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cyberidentity00000037</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>87600100</string>
	<key>DTAppStoreToolsBuild</key>
	<string>17C53</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>22F76</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>18.5</string>
	<key>DTSDKBuild</key>
	<string>22F76</string>
	<key>DTSDKName</key>
	<string>iphoneos18.5</string>
	<key>DTXcode</key>
	<string>1640</string>
	<key>DTXcodeBuild</key>
	<string>16F6</string>
	<key>FacebookAppID</key>
	<string>1158523682358502</string>
	<key>FacebookClientToken</key>
	<string>0d8ad855400f9330907c288f35bbabf9</string>
	<key>FacebookDisplayName</key>
	<string>哔哩哔哩</string>
	<key>GIDClientID</key>
	<string>421683425039-5uqkrh3d5mi74mqp50viiprv0u7b3s8v.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>421683425039-ag6ege5sbhca236dr7785k39jo75d7oj.apps.googleusercontent.com</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>B站</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>哔哩哔哩</string>
		</dict>
	</array>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>bcut</string>
		<string>missevan</string>
		<string>pinduoduo</string>
		<string>bilibili</string>
		<string>bilicomic</string>
		<string>bili.hd</string>
		<string>weixinURLParamsAPI</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>cmbmobilebank</string>
		<string>uppaysdk</string>
		<string>uppaywallet</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>mqqopensdknopasteboard</string>
		<string>mqqopensdknopasteboardios16</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>wtloginmqq2</string>
		<string>mqqapi</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqq</string>
		<string>mqqopensdkapiV4</string>
		<string>mqqopensdkminiapp</string>
		<string>fbapi</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fb-messenger-share-api</string>
		<string>alipay</string>
		<string>mqqwalletv3</string>
		<string>dragon1967</string>
		<string>openapp.jdmobile</string>
		<string>vipshop</string>
		<string>imeituan</string>
		<string>dewuapp</string>
		<string>taobao</string>
		<string>tbopen</string>
		<string>wireless1688</string>
		<string>alipays</string>
		<string>pddopen</string>
		<string>eleme</string>
		<string>bililive</string>
		<string>qklink</string>
		<string>tongyi</string>
		<string>qqmusic</string>
		<string>cyberidentity</string>
	</array>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>NSAppleMusicUsageDescription</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>NSBluetoothAlwaysUsageDescription</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>NSBluetoothPeripheralUsageDescription</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_bbcast-local-permission._tcp</string>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>NSCalendarsFullAccessUsageDescription</string>
	<key>NSCalendarsUsageDescription</key>
	<string>NSCalendarsUsageDescription</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>NSCalendarsWriteOnlyAccessUsageDescription</string>
	<key>NSCameraUsageDescription</key>
	<string>NSCameraUsageDescription</string>
	<key>NSFaceIDUsageDescription</key>
	<string>NSFaceIDUsageDescription</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>NSLocalNetworkUsageDescription</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>NSLocationWhenInUseUsageDescription</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>NSMicrophoneUsageDescription</string>
	<key>NSMotionUsageDescription</key>
	<string>NSMotionUsageDescription</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>NSPhotoLibraryAddUsageDescription</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>NSPhotoLibraryUsageDescription</string>
	<key>NSSiriUsageDescription</key>
	<string>NSSiriUsageDescription</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>BFCAttentionIntent</string>
		<string>BBPgcSiriSuggest</string>
		<string>INSendMessageIntent</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>NSUserTrackingUsageDescription</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>PackageInitTimestamp</key>
	<integer>1474258143</integer>
	<key>UIAppFonts</key>
	<array>
		<string>bilibilifont-Regular.otf</string>
		<string>bilibilifont-Medium.otf</string>
		<string>bilibilicharacters-Regular.otf</string>
		<string>bilibilicharacters-Medium.otf</string>
		<string>bilibilifont-rzrxnfhj.ttf</string>
		<string>oswald-medium-webfont.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>BILIBundleSearchName</string>
			<key>UIApplicationShortcutItemType</key>
			<string>tv.danmaku.bilianime.opensearch</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>short_cut_rank</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>BILIBundleRank</string>
			<key>UIApplicationShortcutItemType</key>
			<string>tv.danmaku.bilianime.rank</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISearchFonts</key>
	<array>
		<string>xx-DIN-Regular.ttf</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>tv.danmaku.bilianime.flac</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>flac</string>
				<key>public.mime-type</key>
				<string>application/x-flac</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>tv.danmaku.bilianime.ape</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>ape</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>tv.danmaku.bilianime.ogg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>ogg</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
